@import "./variables";

.addressDetails {
  padding: 0px 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  button {
    color: white;
    margin: 0px 16px;
    background-color: $button-color;
  }
  button:hover {
    background-color: $button-color;
  }
}
.pincode {
  height: 65px;
}

.fieldSpacing {
  padding: 0px 16px;
}
