@import "~react_custom_table/src/styles/index.scss";
.actionButtons {
  display: none;
}
.ReactTable .rt-tbody .rt-tr-group:hover .actionButtons {
  display: inline-block;
}


.ReactTable .rt-tr-group .rt-td:last-child {
    border-right: 0px !important;
    padding: 0px !important;
    display: flex;
    align-items: center;
}
.ReactTable .rt-tr-group .rt-td{
  display: flex;
  align-items: center;
}

.ReactTable .rt-table {
  border: 0.6px solid #dedada;
}