@import "~react_custom_table/src/styles/index.scss";
.tableDeleteButton {
  display: none;
}
.ReactTable .rt-tbody .rt-tr-group:hover .tableDeleteButton {
  display: inline-block;
}

.ct-dropdown {
  display: none;
}

.ReactTable .rt-tr-group .rt-td:last-child {
    border-right: 0px !important;
    padding: 0px !important;
    display: flex;
    align-items: center;
}