@import "./variables";
.userInfo {
  padding: $padding-layout;
  padding-bottom: 0px;
  .profileSection {
    padding: 0px 16px;
    display: flex;
    justify-content: space-around;
    .avatar {
      height: 120px;
      width: 120px;
    }
    .label {
      display: flex;
      align-self: center;
      .upload {
        height: 35px;
        font-weight: bold;
        color: $primary-color;
        border: 2px solid $primary-color;
      }
    }
  }
  .alignment {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}

input {
  display: "none";
}

.fieldSpacing {
  padding: 0px 16px;
  height: 70px;
}

